@using EPiServer.Shell.Navigation
@model OptiGraphExtensions.Administration.AdministrationViewModel

@{
    Layout = "/Views/Shared/Layouts/_LayoutBlazorAdminPage.cshtml";
}

<p>
    <strong>|---</strong>
    <strong>---|</strong>
</p>