@using EPiServer.Shell.Navigation
@model OptiGraphExtensions.Administration.AdministrationViewModel

@{
    Layout = "/Views/Shared/Layouts/_LayoutBlazorAdminPage.cshtml";
}

<p>
    <strong>|---</strong>
    @(await Html.RenderComponentAsync<OptiGraphExtensions.Features.Synonyms.MyBlazorCounterComponent>(Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Server))
    <strong>---|</strong>
</p>